.btn {
  border-radius: 0;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 0.5rem 1.2rem;
  border:1px solid white;
  .btn-plus {
    padding-right:1em;
  }
}
.btn-light,
.btn-light:disabled {
  border-color:$gray-400;
  background:white;
  color:$hab-blue;
  &:disabled {
    border-color:$gray-400;
    border-right-width: 0;
    background:white;
    color:$gray-500;
    opacity:1;
  }
}

.line-arrow {
  overflow: hidden;
  display: inline-block;
  font-size: 2rem;
  width: 1.4rem;
  height: 1.4rem;
}

.line-arrow.right {
  border-top: 1px solid $gray-400;
  border-right: 1px solid $gray-400;
  transform: rotate(54deg) skew(20deg);
  margin-left: -11px;
  margin-top: 8px;
}
