.card {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.highlighted {
  .card-body {
    padding:0;
  }
}
.path-frontpage {
  h2, h4 {
    text-align:center;
    font-weight:400;
  }
  .card {
    .views-field-field-icon {
      font-size:10px;
    }
    h5 {
      font-size: 1.1rem;
    }
  }
}
