.carousel {
  .carousel-item {
    &:before {
      content: '';
      position: absolute;
      top: 30%;
      //top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(to bottom,transparent,black);
      //background-image: linear-gradient(black,black);
      //opacity: .9;
    }
    .field--type-image {
      margin:0;
      img {
        margin:0;
      }
    }
  }
  .carousel-caption {
    text-align: left;
    font-size: 0.8rem;
    .carousel-description {
      text-transform: uppercase;
      margin-bottom: 1rem;
    }
    h3 {
      margin-bottom: 0;
      max-width: 440px;
      margin-top: 0.5rem;
    }
  }
}
.block-views-blockcarousel-block-1 {
  .content {
    .col-auto {
      padding:0;
    }
  }
}

.col-auto {
  padding:0;
}

[dir="rtl"].js {
  .carousel {
    .carousel-caption {
      text-align: right;
    }
  }
}
