.block-urban-data-charts {
  h2 {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
  }
}
.tooltip {
  position: absolute;
  display: none;
  width: auto;
  height: auto;
  background: #0079c0;
  border: 0 none;
  color: white;
  font: 12px sans-serif;
  padding: 5px;
  text-align: center;
}
