/**
 * @file
 * Visual styles for Bartik's dropbutton component.
 */

.js header .dropbutton-wrapper .dropbutton-widget {
  /* This is required to win over specifity of .js header td .dropbutton-widget */
  position: relative;
}

.js header .dropbutton-widget {
  border: none;
  background: transparent;
  color: red;
  cursor: pointer;
  text-align: center;
  margin: 0.125em 0;
  border-radius: 1em;
  overflow: hidden;
}

.js header .dropbutton-widget:hover {
  border-color: #e4e4e4 #d2d2d2 #b4b4b4 #d2d2d2;
}

.js header .dropbutton-widget .button {
  border: none;
  margin: 0;
  padding: 0.32em 1em;
  background: transparent none;
  color: inherit;
}

.js header .dropbutton-multiple .dropbutton-widget .dropbutton-action a {
  margin-right: 0;
  /* LTR */
}

[dir="rtl"].js header .dropbutton-multiple .dropbutton-widget .dropbutton-action a {
  margin-left: 0;
}

.js header .dropbutton .secondary-action {
  border-top-color: #ccc;
}

.js header .dropbutton-toggle button {
  background-color: #e8e8e8;
  background-image: -webkit-linear-gradient(top, #e8e8e8, #d2d2d2);
  background-image: linear-gradient(to bottom, #e8e8e8, #d2d2d2);
}

.js header .dropbutton-toggle .dropbutton-arrow:hover {
  background: #ccc;
}

.js header .dropbutton a {
  color: #3a3a3a;
  border-bottom: 0 none;
}

.js header .dropbutton .dropbutton-action:hover,
.js header .dropbutton a:hover {
  background: #dedede;
  border-bottom: 0 none;
}
