/**
 * @file
 * General styles for dropbuttons.
 */

.js header {
  .dropbutton-multiple {
    &.open {
      .dropbutton-arrow {
        top:40%;
      }
      .dropbutton li.secondary-action {
        display: table-cell;
      }
    }
    .dropbutton-widget {
      right: 0;
      margin: 0.5rem 0;
      background: transparent;
      border: none;
      border-radius: 0;
      color: white;
      text-transform: uppercase;
      font-size: 0.5rem;
      padding: 0 0.4rem;
      line-height: 0.4;
      @include media-breakpoint-up(sm) {
        font-size: 0.8rem;
        padding: 0 1rem;
        line-height: 0.8;
      }
      @include media-breakpoint-up(md) {
        font-size: 0.9rem;
        padding: 0 1.5rem;
        line-height: 0.9;
      }
      &:hover {
        border: none;
      }
      .dropbutton {
        border: none;
        a {
          color:white;
        }
        li {
          text-align: right;
          &.secondary-action {
            border:none;
            background: $hab-blue;
            text-transform: initial;
            padding: 5px 30px;
            &:hover,
            &:focus {
              background: black;
            }
            a:hover,
            a:focus {
              background: none;
              color: white;
              text-decoration:none;
            }
          }
        }
        .dropbutton-toggle {
          display:none;
          bottom: inherit;
          top: 0.5em;
          button {
            background: transparent;
          }
          .dropbutton-arrow {
            display:none;
            color: white;
            border-width: 0.35em 0.35em 0;
            margin-top: 0;
            top: 5px;
          }
        }
        .dropbutton-action {
          > * {
            margin-right:0;
            padding:0;
          }
        }
        .dropbutton-action:hover,
        .dropbutton-action:focus {
          background: transparent;
        }
      }
    }
  }
}
