.view-featured-image-header {
  margin-bottom: 15px;
}

.view-featured-stories-videos {
  .view-content.row {
    display: block;
  }
  .carousel {
    .carousel-item {
      &:before {
        top: 20%;
      }
      .video-embed-field-lazy {
        &:before {
          content: '';
          position: absolute;
          top: 20%;
          right: 0;
          bottom: 0;
          left: 0;
          background-image: linear-gradient(to bottom,transparent,black);
          opacity: .8;
        }
        &.col-auto {
          padding:0;
        }
      }
    }
    .carousel-caption {
      right: 5%;
      bottom: 0;
      left: 5%;
      z-index: 10;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      .carousel-description {

      }
      h3 {
        margin:0.2rem 0 0 0;
        font-weight:400;
        font-size:1rem;
      }
      .carousel-tagline {
        font-size:0.7rem;
        margin-bottom:0.5rem;
        font-weight:300;
      }
      .featured-button {
        a {
          text-transform: uppercase;
          font-size:0.8rem;
          color:lighten($hab-blue, 20%);
        }
      }
    }
  }
}
