.footer-container {
  background: #222222;
  color: #bbb;
  footer {
    background: none;
    padding: 15px;
    font-size: 0.8rem;
    .footer-top {
      .region-footer-top {
        border-bottom: 1px solid #707173;
        margin-bottom: 15px;
        padding-bottom: 15px;
      }
      .navbar-brand {
        img {
          height: 40px;
        }
      }
    }
    h2 {
      color:$hab-blue;
      font-size:1rem;
      width:100%;
    }
    ul {
      padding:0;
      list-style-type: none;
      li {
        .nav-link {
          padding:0.5rem 1rem 0.5rem 0;
        }
      }
    }
    a {
      color: #bbb;
      &:hover,
      &:focus {
        color:white;
        text-decoration: none;
      }
    }
    .footer-bottom {
      margin-top:1rem;
      padding-top:0.33rem;
      border-top:1px solid #707173;
      ul {
        padding:0;
        li {
          .nav-link {
            padding: 0 1rem;
          }
        }
      }
      .footer-bottom-first {

      }
      .footer-bottom-second {

      }
    }
    .block-views-blockconnect-footer--block-1 {
      width: 100%;
      .view-connect-footer- {
        .views-row {
          padding: 0 0.5em 0.5rem 0;
        }
      }
    }
    .block-views-blockconnect-footer--block-2 {
      width: 100%;
      margin-top: 1rem;
      .view-connect-footer- {
        .views-row {
          padding: 0 0.5em 0.5rem 0;
          img {
            width: 60%;
            height: 60%;
          }
        }
      }
    }
    .block-webform {
      margin-top:1rem;
      padding: 0.5rem 0.5rem 0 0.5rem ;
      border: 1px solid $gray-700;
      text-align: center;
      label {
        color:$hab-blue;
        font-size:1rem;
      }
      input.form-control {
        font-size: 0.8rem;
        border-radius: 0;
        padding: 0.2rem 0.5rem;
        height: unset;
        background-color: #bbb;
        color: black;
        text-align: center;
        border: 1px solid black;
      }
    }
  }
}
