.dropdown-menu,
header #navbar-main ul li.show a::after {
  display:none !important;
}
.card-header {
  font-size: 24px;
  color:#0079c0;
}

.block-views-blockhome-resources-block-1 {
  margin:3rem 0;
}
.path-frontpage h2 {
  color:#222;
}
.path-frontpage .card h5 {
  font-size: 1.1rem;
  font-weight: 100 !important;
  color: #222;
}
#main.container-max {
  padding-bottom:0 !important;
}
