.fontawesome-icon {
  text-align: center;
  color:$hab-blue;
  margin: 1rem auto;
  .fa-4x {
    font-size:4em !important;
  }
}
.rounded-circle {
  //border:1px solid $gray-500;
  background:none;
}
footer {
  .fontawesome-icon {
    font-size: 1.2rem;
    width: 2rem;
    color:$gray-600;
  }
  .rounded-circle {
    border:1px solid $gray-600;
  }
}
#views-bootstrap-topics-block-2 {
  .fontawesome-icon {
    color:$hab-blue;
    margin: 1rem auto;
    .fa-4x {
      font-size:1.5em !important;
    }
  }
  h5 {
    font-size: 0.8rem;
    font-weight: 400;
  }
}
