.jumbotron {
  margin:0 -15px;
  padding: 3rem 8rem;
}
.ui-widget.ui-dialog.ui-dialog-off-canvas {
  z-index: 2000;
}
.container-fluid {
}
.container-max {
  max-width: 1600px;
  margin:0 auto;
}
.breakout {
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  padding: 2rem;
  > .container {
    padding-left:30px;
    padding-right:30px;
  }
}
.path-frontpage {
  h2 {
    text-align:center;
  }
}
.alert-wrapper {
  position:unset;
}
.block-page-title-block {
  width:100%;
  margin:2rem 0 0 0;
  h1 {
    &.title {
      text-align: center;
    }
  }
}
// 576px
@include media-breakpoint-up(sm) {
  .container {
    //max-width: 540px
  }
}
// 768px
@include media-breakpoint-up(md) {
  .container {
  }
  //max-width: 720px
}
// 992px
@include media-breakpoint-up(lg) {
  .container {
    //max-width: 960px
  }
}
// 1200px
@include media-breakpoint-up(xl) {
  .container {
    //max-width: 1400px
  }
}
