@include media-breakpoint-up(xs) {
  #auth_box {
    width: 90%;
    margin-top:50px;
  }
}
@include media-breakpoint-up(lg) {
  #auth_box {
    width: 50%;
  }
}
body.login-pages,
body.path-tfa {
  background-color: #5B92E5;
  background: rgb(91,146,229);
  background: radial-gradient(circle, #c2e59c 0%, rgba(35,83,121,1) 100%);
  background: linear-gradient(to right, #c2e59c, #64b3f4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  .button--ultimenu,
  #backtotop {
    display: none;
  }
}
.mm-page, .mm-wrapper_background body {
  background-color: initial;
}
#auth_box {
  max-width:550px;
  text-align:center;
  text-transform: uppercase;
  margin: 20% auto 0 auto;
  padding: 0;
  background:none;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 3px 1px #ccc;
  -moz-box-shadow: 0 0 3px 1px #ccc;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  .alert {
    display:none;
  }
  label {
    text-transform: none;
  }
  #top_part {
    padding: 25px 0;
    background: rgba(0,0,0,0.4);
  }
  #middle_part {
    padding: 15px 25px;
    background: rgba(255,255,255,0.6);
    overflow: hidden;
    border:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  #bottom_part {
    padding:15px 0 50px;
    background: rgba(0,0,0,0.4);
    a {
      color:white;
    }
  }
  h1#the_logo {
    text-align: center;
    margin: 0;
    padding: 0;
    img {
      height: 80px;
    }
  }
  h2.title {
    text-transform: uppercase;
    font-size: 20px;
    padding-bottom: 30px;
  }
  h1.title,
  nav.tabs {
    display: none;
  }
  input[type="text"],
  input[type="password"] {
    width: 100%;
    border: 1px #ccc solid;
    border-radius: 3px;
    padding: 5px;
    font-size: 15px;
    text-align: center;
  }
  .password_link {
  }
  .back_link {
    padding: 20px;
  }
}
.tfa-entry-form ul {
  list-style: none;
}
#edit-code--description.help-block {
  text-align: center;
}
