.urban-map-container {
  .urban-map {
    width:100%;
    height: 400px;
  }
  #world-map {
    &.urban-map {
      height:480px;
    }
  }
  #country-map {
    &.urban-map {
      height:350px;
    }
  }
}

.jvectormap-tip {
  border: solid 1px $hab-blue;
  border-radius: 0;
  background: white;
  color: inherit;
  font-size: 1rem;
  padding: 1rem;
  .country-name {
    font-size:1.5rem;
    background:$hab-blue;
    color:white;
    padding:0.5rem;
    margin:-1rem -1rem 1rem -1rem;
  }
}
