header {
  #navbar-main {
    .dropdown-menu {
      ul.nav {
        display:block;
        &.card-columns-topics {
          column-count: 4;
        }
        li{
          &.no-column-break {
            display:inline-block;
            width:100%;
            margin-bottom:1rem;
            .nav-link {
              color:darkblue;
            }
          }
          .nav-link {
            color:white;
            padding:0;
          }
          ul {
            list-style:none;
            padding:0;
            li {
              a {
                text-transform: none;
                padding:0;
              }
            }
          }
        }
      }
    }
  }
}
.path-frontpage .menu-dropdown h2 {
  text-align: left;
  font-weight: 400;
  font-size:1.5rem;
  color:white;
}
