header {
  background: linear-gradient(to left,#233356,#0091c6);
  .container-max {
    //background: $hab-blue;
  }
  .dropdown-toggle::after {
    display:none;
  }
  .navbar {
    padding:0 15px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    &.bg-secondary {
      background: rgba(0,0,0,0.3) !important;
    }
    &.bg-primary {
      background:transparent !important;
    }
    .navbar-brand {
      padding: 15px;
      margin: 0;
      img {
        width: 16rem;
        border-right: 1px solid #10649B;
        padding-right: 1rem;
      }
      .site-name {
        font-size: 2rem;
        text-transform: uppercase;
      }
    }
    ul li a {
      color: white !important;
    }
    .navbar-toggler {
      margin-bottom: 15px;
    }
    .menu--top-menu {
      .navbar-nav {
        &.dropbutton {
          margin-right: 0 !important;
        }
      }
      ul.navbar-nav {
        li {
          padding: .5rem 0 0 0.5rem;
          position: static;
          a {
            text-transform: uppercase;
            font-size: 0.5rem;
            padding: 0 0.2rem 0.5rem 0.2rem;
            line-height: 0.4;
            border-right: 1px solid white;
            @include media-breakpoint-up(sm) {
              font-size: 0.7rem;
              padding: 0 1rem;
              line-height: 0.8;
            }
            @include media-breakpoint-up(md) {
              font-size: 0.9rem;
              padding: 0 1.2rem;
              line-height: 0.9;
            }
            @include media-breakpoint-up(lg) {
              font-size: 0.9rem;
              padding: 0 1.5rem;
              line-height:0.9;
            }
            &::after {
              content: '|';
              color: white;
              font-size: 0.8rem;
            }
            &:hover,
            &:focus,
            &.is-active {
              color: $hab-blue;
              text-decoration: none;
            }
          }
          &.dropbutton-action,
          &.dropbutton-toggle {
            position:relative;
          }
          &.show::after {
            content: '';
            display:block;
            width: 0;
            height: 0;
            bottom: 0;
            margin: 0 auto;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid $hab-blue;
          }
        }
        > li:first-child a.nav-link {

        }
      }
    }
  }

  #navbar-main {
    .dropdown {
      position: static;
    }
    ul {
      li {
        a {
          color: white;
          text-transform: uppercase;
          font-size: 0.9rem;
          padding: 1rem 1rem 1rem 1rem;
          @include media-breakpoint-up(xl) {
            font-size: 1.2rem;
          }
        }
        &.nav-link {
          text-transform:capitalize;
          font-size: 1rem;
          padding:0 1rem;
          @include media-breakpoint-up(lg) {
            font-size: 1rem;
            padding:0 1.5rem;
          }
        }
        &.show a::after {
          display:block;
          width: 0;
          height: 0;
          bottom: 0;
          position: absolute;
          margin: 0 auto;
          border-top:none;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-bottom: 8px solid $hab-blue;
        }
      }
      > li:last-child a.nav-link {
        padding-right: 0;
      }
      .dropdown-menu {
        width: 100%;
        margin:0;
        border:none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        padding: 15px;
        color:white;
        background:$hab-blue;
        &.show {
          display: inline-flex;
        }
        a {
          color:white;
          font-size:1rem;
          &:hover,
          &:focus {
            color:white;
            text-decoration:none;
          }
        }
        .dropdown-item {
          &:hover,
          &:focus {
            background:none;
          }
          a {
            text-transform: none;
            padding:0;
          }
        }
      }
    }
  }
}
@include media-breakpoint-up(sm) {

}
@include media-breakpoint-up(md) {

}
@include media-breakpoint-up(lg) {

}
@include media-breakpoint-up(xl) {

}
