.path-frontpage {
  .field--name-field-header {
    text-align:center;
    margin-bottom: 2rem;
  }
}
.paragraph {
  margin-bottom: 2rem;
}
.paragraph--type--get-involved {
  text-align: center;
  img {
    box-shadow: 0 1px 3px rgba(0,0,0,0.2), 0 1px 2px rgba(0,0,0,0.2);
  }
  .btn {
  }
  .gi-connect {
    a {
      margin-right:1rem;
      &:hover,
      &:focus {
        .fontawesome-icon {
          color: $hab-blue;
        }
        .rounded-circle {
          border-color:$hab-blue;
        }
      }
    }
  }
}
