[dir="rtl"].js {
  .ml-auto {
    margin-left: 0 !important;
    margin-right: auto !important;
  }
  header {
    .navbar {
      .menu--top-menu {
        margin-right: 0;
        margin-left:2.8rem;
        @include media-breakpoint-up(sm) {
          margin-left:5.4rem;
        }
        @include media-breakpoint-up(md) {
          margin-left:6.6rem;
        }
        @include media-breakpoint-up(lg) {
          margin-left:7rem;
        }
        ul li a.nav-link {
          border-right: none;
          border-left: 1px solid white;
        }
      }
      .menu--main {
        ul > li:last-child a.nav-link {
          padding-right: inherit;
          padding-left: 0;
        }
      }
    }
    .dropbutton-multiple .dropbutton-widget {
      right: unset;
      left: 0;
    }
  }
}
