h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color:$hab-blue;
}
.carousel {
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    color:white;
  }
}
#block-searchform {
  margin:1.5rem auto;
  text-align: center;
}
.form-search.form-control {
  width:500px;
}
.bg-info {
  h2, h4 {
    color:white;
  }
}
