.ultimenu__region {
  margin:0 auto;
  > .block {
    width:100%;
    ul.nav {
      justify-content: center;
    }
  }
}
.block-ultimenu.contextual-region {
  position: unset;
}

.ultimenu {
  position: static;
  li.ultimenu__item {
    &.has-ultimenu {
    }
    .ultimenu__flyout {
      margin:0;
      padding: 15px;
      background: $hab-blue;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }
    a {
      &.ultimenu__link {
        color: white;
        text-transform: uppercase;
        font-size: 0.9rem;
        padding: 1rem 1rem 15px 1rem;
        @include media-breakpoint-up(xl) {
          font-size: 1.2rem;
          padding: 0.5rem 1.5rem 15px 1.5rem;
        }
        &.is-active {
          color: $hab-blue;
        }
        &:hover .caret {
          display:block;
          width: 0;
          height: 0;
          bottom: 0;
          position: absolute;
          margin: 0 auto;
          right: 50%;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-bottom: 8px solid $hab-blue;
        }
        &.nav-link {
          text-transform: capitalize;
        }
      }
    }
  }
  > li:last-child a.ultimenu__link {
    padding-right: 0;
  }
}
