{#
/**
 * @file views-bootstrap-cards.html.twig
 * Default simple view template to display Bootstrap Cards.
 *
 *
 * - rows: Contains a nested array of rows. Each row contains an array of
 *   columns.
 *
 * @ingroup views_templates
 */
#}

{#<div class="card-deck">#}
  {#<div class="row row-cols-1 row-cols-md-3">#}
  {#{% for key, row in rows -%}#}
    {#{{ dump(row.content|keys) }}#}
    {#<div class="col mb-4">#}
      {#<div class="card">#}
        {#{{ row.image }}#}
        {#<div class="card-body">#}
          {#<h5 class="card-text">{{ row.title }}</h5>#}
        {#</div>#}
        {#<div class="card-footer">#}
          {#<small class="text-muted">{{ row.content }}</small>#}
        {#</div>#}
      {#</div>#}
    {#</div>#}
  {#</div>#}
  {#{%- endfor %}#}
{#</div>#}


<div class="card-group">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
  {% for key, row in rows -%}
    <div class="col mb-4">
      <div class="card h-100">
        {{ dump(key) }}
        {# Show image #}
        {% if row.image %}
          {{ row.image }}
        {% endif %}
        {% if row.title %}
          <div class="card-header">{{ row.title }}</div>
        {% endif %}
        {% if row.content %}
          <div class="card-body">
            {{ row.content }}
          </div>
        {% endif %}
      </div>
    </div>
  {%- endfor %}
  </div>
</div>
