h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Merriweather', serif;
}
footer h2 {
  font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3,
.h1,
.h2,
.h3 {
  font-weight: 700;
}
h4,
h5,
h6,
.h4,
.h5,
.h6 {
  font-weight: 400;
}
body,
p,
a,
li {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.02rem;
}
