<div id="myReact"></div>
{% set initial = attached.drupalSettings.barSubsSettings.csvUrlSwitchInitial %}
{% set sub_topics = attached.drupalSettings.barSubsSettings.sub_topics %}
<ul class="nav nav-pills grouped-bar-subs-chart">
  {% for key, sub_topic in sub_topics %}
    {% set state = '' %}
    {% if initial == key %}
      {% set state = 'active' %}
    {% endif %}
    <li class="nav-item">
      <a class="nav-link {{ state }}" data-toggle="pill" href="#" id="{{ key }}">{{ sub_topic }}</a>
    </li>
  {% endfor %}
</ul>
<div id="urbanDataGroupedBarSubsChart"></div>
