{#
/**
 * @file
 * Default theme implementation to each level of menu.
 */
#}

<ul{{ attributes.addClass(['nav', 'navbar-nav']) }}>
  {% for item in items %}
    {% set item_classes = [
      item.is_expanded ? 'expanded',
      item.is_expanded and menu_level == 0 ? 'dropdown',
      item.in_active_trail ? 'active',
    ]
    %}
    <li{{ item.attributes.addClass(item_classes) }}>
      <a href="{{ item.url }}" class="dropdown-toggle" data-toggle="dropdown">{{ item.title }}</a>
      <div class="dropdown-menu w-100">
        {{ item.content }}
      </div>
    </li>
  {% endfor %}
</ul>
