<style>
body.maintenance-page {
    background: linear-gradient(to right,#9fbb81,#64b3f4);
    
  }
</style>
<link rel="stylesheet" type="text/css" href="">
<div id="auth_box" class="maintenance">
  <div id="top_part">
    <h1 id="the_logo">
      <a href="{{ url('<front>') }}">
        <img src="{{ logo }}" alt="{{ site_name }}" />
      </a>
    </h1>
  </div>

  <div id="middle_part">
    <h2 class="maintanance-title">{{ title }}</h2>
    {{ page.content }}
    {{ page.highlighted }}
  </div>

  <div id="bottom_part">
    
</div>