<div class="card">
  {{ image }}
  <div class="card-body">
    <h5 class="card-text">{{ resource_title }}</h5>
  </div>
  <div class="card-footer">
    <small class="text-muted">{{ resource_type }}</small>
  </div>
</div>
