<div class="topic-pattern">
  <div class="row">
    <div class="col-md-3">
      {{ selectors }}
    </div>
    <div class="col-md-9">
      <h5 class="mt-0 text-dark">{{ depth }}</h5>
      <p>{{ details }}</p>
    </div>
  </div>
</div>
