{#{{ dump(vocab) }}#}
<div class="region-pattern">
  <div class="row">
    <div class="col-md-3">
      {% if (vocab|render|striptags|trim == 'Topics') %}
            {{ topic_selector }}
      {% endif %}
      {% if (vocab|render|striptags|trim == 'Dimensions') %}
        {{ dimension_selector }}
      {% endif %}
      {% if (vocab|render|striptags|trim == 'Locations') %}
        {% if (depth|render|striptags|trim == '1') %}
          {{ region_selector }}
        {% endif %}
        {% if (depth|render|striptags|trim == '2') %}
          {{ country_selector }}
          {{ country_map }}
        {% endif %}
        {% if (depth|render|striptags|trim == '3') %}
          {{ sub_country_selector }}
        {% endif %}
      {% endif %}
    </div>
    <div class="col-md-9">
      {% if (vocab|render|striptags|trim == 'Locations') %}
        {{ drupal_block('urban_data_countries_slum_population') }}
        <div class="topic-icons">{{ topic_icons }}</div>
      {% endif %}
      {% if (vocab|render|striptags|trim == 'Topics') %}
        <h1>Education</h1>
        {{ drupal_block('urban_data_education') }}
        <h1>Slum Estimates</h1>
        {{ drupal_block('urban_data_slum_estimates') }}
      {% endif %}
    </div>
  </div>
</div>
